        <!--contact-us start-->
        <div class="container contact-us-box">
            <h2><%if(typeof address !== 'undefined'){ %><%-address%><% }else{ %>联系我们<% } %></h2>
            <ul class="contact-us-ul">
                <li>
                    <i class="iconfont icon-dianhua1"></i>
                    <span>028-67879323</span>
                </li>
                <li>
                    <a href="mailto:1278414159@qq.com" class="jump-url">
                        <i class="iconfont icon-youjian"></i>
                        <span>邮箱地址1278414159@qq.com</span>
                    </a>
                </li>
                <li>
                    <i class="iconfont icon-weixin"><img src="img/qr_code.jpg"></i>
                    <span>微信</span>
                </li>
                <div class="clear-both"></div>
            </ul>
        </div>
        <!--contact-us end-->