        <!--footer start-->
        <dir class="wrap footer-wrap">
            <div class="container">
                <ul class="qr-code-box">
                    <li>
                        <i class="gongzonghao"></i>
                        <h6>织布鸟公众号</h6>
                    </li>
                </ul>
                <ul class="footer-center">
                    <li>
                        <h4>四大栏目</h4>
                        <a href="">智能家居</a>
                        <a href="">智能影音</a>
                        <a href="">智慧小区</a>
                        <a href="">只能商业</a>
                    </li>
                    <li>
                        <h4>解决方案</h4>
                        <a href="">智能平台</a>
                        <a href="">超能网络</a>
                        <a href="">安防监控</a>
                        <a href="">定制影院</a>
                        <a href="">多区音乐</a>
                        <a href="">多区视频</a>
                        <a href="">灯光窗帘</a>
                    </li>
                    <li>
                        <h4>案例中心</h4>
                        <a href="">住宅类案例鉴赏</a>
                        <a href="">办公类案例鉴赏</a>
                        <a href="">商业类案例鉴赏</a>
                        <a href="">酒店类案例鉴赏</a>
                    </li>
                    <li>
                        <h4>媒体中心</h4>
                        <a href="">公司公告</a>
                        <a href="">公司活动</a>
                        <a href="">行业动态</a>
                        <a href="">行业新闻</a>
                    </li>
                </ul>
                <div class="footer-quick-answer">
                    <h4>织布鸟<span>2小时</span>快速应答</h4>
                    <input type="text" class="marginRight10" placeholder="你的姓名">
                    <input type="text" placeholder="你的电话">
                    <select>
                        <option value="" selected="true" disabled="true">免费索取资料</option>
                        <option value ="智能家居">智能家居</option>
                        <option value="智能影音">智能影音</option>
                        <option value="智慧小区">智慧小区</option>
                        <option value="智慧小区">智能商业</option>
                    </select>
                    <button type="submit">现在开始</button>
                </div>
            </div>
        </dir>
        <!--footer end-->

        <!--copyright start-->
        <div class="wrap copyright-wrap">
            <div class="container">
                <p>版权所有 2012-2017 四川织布鸟智能科技有限公司.保留一切权利. 蜀ICP备16011679号.由Whydah Itelligence 提供技术支持</p>
                <ul class="copyright-right-box">
                    <li><a href="siteOwner.html">网站所有者信息</a></li>
                    <li><a href="dutyAvowal.html">责任声明</a></li>
                    <li><a href="privacy.html">隐私说明</a></li>
                    <li><a href="aboutUS.html">关于我们</a></li>
                </ul>
                <div class="clear-both"></div>
            </div>
            <div class="clear-both"></div>
        </div>
        <!--copyright end-->

        <!--right-function start-->
        <div class="right-function-box">
            <div class="right-function-popup-box">
                <div class="right-function-popup-header">
                    <span>联系我们</span>
                    <i class="iconfont icon-guanbi"></i>
                </div>
                <div class="right-function-popup-content">
                    <div class="input">
                        <i class="iconfont icon-app-user-b"></i>
                        <input type="text" placeholder="您的姓名">
                    </div>
                    <div class="input">
                        <i class="iconfont icon-dianhua-copy"></i>
                        <input type="text" placeholder="您的电话">
                    </div>
                    <div class="input">
                        <i class="iconfont icon-youjian"></i>
                        <input type="text" placeholder="您的邮箱">
                    </div>
                    <textarea type="text" placeholder="您的留言"></textarea>
                    <button type="submit">联系我们</button>
                    <h3>公司地址：</h3>
                    <p>成都市高新区天府二街368号绿地之窗写字楼B栋1101-1102号</p>
                    <h3>免费设计方案、索取资料、预约体验请立即拨打电话：</h3>
                    <p>028-67879323或028-85708126</p>
                    <h3>合作电话：</h3>
                    <p>13880848830</p>
                </div>
            </div>
            <div class="right-function-popup-box">
                <div class="right-function-popup-header">
                    <span>方案咨询</span>
                    <i class="iconfont icon-guanbi"></i>
                </div>
                <div class="right-function-popup-content">
                    <div class="input">
                        <i class="iconfont icon-app-user-b"></i>
                        <input type="text" placeholder="您的姓名">
                    </div>
                    <div class="input">
                        <i class="iconfont icon-dianhua-copy"></i>
                        <input type="text" placeholder="您的电话">
                    </div>
                    <div class="input">
                        <i class="iconfont icon-youjian"></i>
                        <input type="text" placeholder="您的邮箱">
                    </div>
                    <select>
                        <option value ="智能家居">智能家居</option>
                        <option value="智能影音">智能影音</option>
                        <option value="智慧小区">智慧小区</option>
                        <option value="智慧小区">智能商业</option>
                    </select>
                    <button type="submit">方案咨询</button>
                    <h3>公司地址：</h3>
                    <p>成都市高新区天府二街368号绿地之窗写字楼B栋1101-1102号</p>
                    <h3>免费设计方案、索取资料、预约体验请立即拨打电话：</h3>
                    <p>028-67879323或028-85708126</p>
                    <h3>合作电话：</h3>
                    <p>13880848830</p>
                </div>
            </div>
            <div class="right-function-btn-box">
                <a class="iconfont icon-people"></a>
                <a class="iconfont icon-shuxie"></a>
                <a class="iconfont icon-top hidden"></a>
            </div>
        </div>
        <!--right-function end-->

    </body>
</html>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
<% if(typeof js !== 'undefined'){ js.forEach(function(item){ -%>
<script type="text/javascript" src="./js/<%-item%>.js"></script>
<% })} -%>