<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="utf-8">
        <title><%-title%></title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="keywords" content="keywords">
        <meta itemprop="description" name="description" content="description" />
        <meta name="renderer" content="webkit">
        <link rel="stylesheet" type="text/css" href="./css/global.css">
        <link rel="stylesheet" type="text/css" href="./css/<%-name%>.css">
<% if(typeof css !== 'undefined'){ -%>
<% css.forEach(function(item){ -%>
        <link rel="stylesheet" type="text/css" href="./css/<%-item%>.css">
<% }) -%>
<% } -%>
        <link rel="stylesheet" href="https://at.alicdn.com/t/font_711143_713i1ju7faj.css">
        <script type="text/javascript" src="./js/jquery.min.js"></script>
<% if(typeof js !== 'undefined'){ -%>
<% js.forEach(function(item){ -%>
        <script type="text/javascript" src="./js/<%-item%>.js"></script>
<% }) -%>
<% } -%>
    </head>
    <body>
        <!--header start-->
        <div class="container header-box" id="top_header">
            <i class="logo"></i>
            <ul>
                <li class="active"><a href="">首页</a></li>
                <li><a href="">四大领域</a></li>
                <li><a href="">解决方案</a></li>
                <li><a href="">客户案例</a></li>
                <li><a href="">服务支持</a></li>
                <li><a href="">招商合作</a></li>
                <li><a href="">媒体中心</a></li>
                <li><a href="">关于织布鸟</a></li>
            </ul>
        </div>
        <!--header end-->