<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="utf-8">
        <title><%-title%></title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="keywords" content="keywords">
        <meta itemprop="description" name="description" content="description" />
        <meta name="renderer" content="webkit">
        <link rel="stylesheet" type="text/css" href="./css/global.css">
<% if(typeof css !== 'undefined'){ css.forEach(function(item){ -%>
        <link rel="stylesheet" type="text/css" href="./css/<%-item%>.css">
<%  })} -%>
        <link rel="stylesheet" type="text/css" href="./css/<%-name%>.css">
        <link rel="stylesheet" href="https://at.alicdn.com/t/font_711143_mpgdgq842k8.css">
        <script type="text/javascript" src="./js/jquery.min.js"></script>
        <script type="text/javascript" src="./js/common.js"></script>
<% if(typeof js !== 'undefined'){ js.forEach(function(item){ -%>
        <script type="text/javascript" src="./js/<%-item%>.js"></script>
<% })} -%>
    </head>
    <body>
        <!--information start-->
        <div class="wrap information-wrap">
            <div class="container">
                <h2>四川领先的智能家居及弱电系统集成商</h2>
                <div class="information-right">
                    <p><i class="iconfont icon-iconfontshouji"></i><span>客户合作电话：13880848830</span></p>
                    <p><i class="iconfont icon-dianhua-copy"></i><span>服务热线：028-67879323 或 028-85708126</span></p>
                </div>
            </div>
        </div>
        <!--information end-->

        <!--header start-->
        <div class="container header-box">
            <i class="logo"></i>
            <ul>
                <li<%if(module == 0){%> class="active"<%}%>>
                    <a href="index.html">首页</a>
                </li>
                <li<%if(module == 1){%> class="active"<%}%>>
                    <a href="fourAreas.html">四大领域</a>
                    <ol>
                        <li><a href="smartHome.html">智能家居</a></li>
                        <li><a href="">智能影音</a></li>
                        <li><a href="intelligentCommunity.html">智慧小区</a></li>
                        <li><a href="">智能商业</a></li>
                    </ol>
                </li>
                <li<%if(module == 2){%> class="active"<%}%>>
                    <a href="solution.html">解决方案</a>
                </li>
                <li<%if(module == 3){%> class="active"<%}%>><a href="customerCase.html">客户案例</a></li>
                <li<%if(module == 4){%> class="active"<%}%>>
                    <a href="serviceSuppot.html">服务支持</a>
                    <ol>
                        <li><a href="technicalClassify.html">技术支持</a></li>
                        <li><a href="afterSale.html">售后服务</a></li>
                        <li><a href="train.html">织布鸟培训</a></li>
                    </ol>
                </li>
                <li<%if(module == 5){%> class="active"<%}%>><a href="attractInvestment.html">招商合作</a></li>
                <li<%if(module == 6){%> class="active"<%}%>><a href="mediaCenter.html">媒体中心</a></li>
                <li<%if(module == 7){%> class="active"<%}%>>
                    <a href="aboutUS.html">关于织布鸟</a>
                    <ol>
                        <li><a href="downloadCenter.html">下载中心</a></li>
                        <li><a href="jobChance.html">就业机会</a></li>
                        <li><a href="contactUS.html">联系我们</a></li>
                    </ol>
                </li>
                <div class="clear-both"></div>
            </ul>
            <div class="clear-both"></div>
        </div>
        <!--header end-->