@charset 'utf-8';

/*---- site-owner ----*/
.site-owner-wrap{
    background: #f5f5f5;
    border-top: 1px solid #e1e1e1;
    padding-bottom: 50px;
}
.site-owner-wrap > h2{
    padding-top: 35px;
    padding-bottom: 40px;
}
.site-owner-box{
    background: #fff;
    padding: 80px 100px 100px;
}
.site-owner-box > p{
    font-size: 16px;
    color: #555;
    text-indent: 40px;
    line-height: 200%;
}
.site-owner-box > p.bold{
    font-weight: bold;
    padding: 5px 0;
}