@charset 'utf-8';

/*---- filter ----*/
.filter-box{
    padding: 25px 0;
}
.filter-box ul{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.filter-box ul.type-ul{
    margin-bottom: 20px;
}
.filter-box ul h3{
    display: block;
    width: 50px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #555555;
    float: left;
}
.filter-box ul li{
    float: left;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 14px;
    color: #555555;
    cursor: pointer;
}
.filter-box ul li.active{
    background: #cf191b;
    color: #fff;
}