@charset 'utf-8';

/*---- banner ----*/
.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    direction:ltr;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    z-index:1;
}
.swiper-wrapper {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;
    
    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;
    
    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);
    
    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;
    
    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

#js_banner{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
}
#js_banner .banner-item{
    width: 100%;
    height: 600px;
    background: url(../img/index/banner.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.pagination, .solution-pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:20px;
    width: 100%;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #595d61;
    margin: 0 5px;
    border: 3px solid #868b92;
    cursor: pointer;
    border-radius: 100%;
}
.swiper-active-switch {
    background: #fff;
}
#js_banner .arrow-left{
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 70px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
}
#js_banner .arrow-left i, #js_banner .arrow-right i{
    line-height: 70px;
    font-size: 24px;
    color: #fff;
}
#js_banner .arrow-right {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 70px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
}


/*---- programa ----*/
.programa-box{
    padding-top: 50px;
    padding-bottom: 50px;
}
.programa-box li{
    float: left;
    width: 285px;
    height: 180px;
    margin-left: 20px;
    text-align: center;
}
.programa-box li:first-child{
    margin-left: 0;
}
.programa-box li.bg-1{
    background: url(../img/index/programa_bg_1.jpg) no-repeat 50% 50%;
}
.programa-box li.bg-2{
    background: url(../img/index/programa_bg_2.jpg) no-repeat 50% 50%;
}
.programa-box li.bg-3{
    background: url(../img/index/programa_bg_3.jpg) no-repeat 50% 50%;
}
.programa-box li.bg-4{
    background: url(../img/index/programa_bg_4.jpg) no-repeat 50% 50%;
}
.programa-box li h2{
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 22px;
}
.programa-box li a{
    font-size: 14px;
    color: #fff;
}

/*---- solution ----*/
.solution-wrap{
    background: #f5f5f5;
}
.solution-box{
    padding: 50px 0;
}
.solution-box .solution-pagination-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height: 390px;
    text-align: center;
    background: url(../img/index/solution_left_1.jpg) no-repeat 50% 50%;
}
.solution-pagination-box h2{
    color: #fff;
    line-height: 1;
    font-size: 22px;
    margin: 30px auto 20px;
}
.solution-pagination-box p{
    font-size: 14px;
    color: #fff;
}
.solution-pagination-box p span{
    font-size: 18px;  
}
.solution-pagination-box a{
    display: block;
    width: 150px;
    height: 32px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -75px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
}
.solution-pagination-box .solution-pagination{
    bottom: 80px;
}
.solution-pagination-box .solution-pagination .swiper-pagination-switch{
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid #fff;
}
.solution-pagination-box .solution-pagination .swiper-active-switch{
    background: #fff;
}

#js_solution{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 390px;
}
.solution-item{
    width: 100%;
    height: 390px;
    margin-left: 210px;
}
.solution-item li{
    display: block;
    position: relative;
    margin-left: 20px;
    width: 310px;
    height: 390px;
    float: left;
    background: #fff;
    box-shadow: 0px 0px 10px #f0f0f0;
    -webkit-box-shadow: 0px 0px 10px #f0f0f0;
    -moz-box-shadow: 0px 0px 10px #f0f0f0;
}
.solution-item li i{
    display: block;
    width: 100%;
    height: 170px;
}
.solution-item li i.bg-1{
    background: url(../img/index/solution_2.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.solution-item li i.bg-2{
    background: url(../img/index/solution_3.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.solution-item li i.bg-3{
    background: url(../img/index/solution_4.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.solution-item .solution-item-detail{
    padding: 20px 10px 0 20px; 
}
.solution-item .solution-item-detail h4{
    line-height: 1;
    color: #333333;
    font-size: 16px;
    padding-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.solution-item .solution-item-detail p{
    line-height: 1;
    padding-bottom: 10px;
    font-size: 12px;
    color: #555555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.solution-item a{
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -135px;
    width: 270px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #f8f8f8;
    border-radius: 5px;
    color: #555555;
    font-size: 12px;
}